<div class="py-7"></div>
<div class="w-3/4 flex flex-col align-center flex-wrap justify-center">

  <div class="header flex flex-row">

    <div class="title w-2/8 p-3">
      <p class="text-3xl text-bold font-medium mb-8"> User {{ user.name }} </p>
      <p> Age: {{ user.age}} </p>
    </div>

    <div class="basic-information p-3">
      <p class="text-bold text-xl font-medium my-2"> Email: {{ user.email }} </p>
      <div class="punctual-information">
        <p>Password: {{ user.password }}</p>
      </div>
    </div>
  </div>

</div>
